body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    padding: 0;
    margin: 0;
    background: url("../images/concrete_seamless.png");
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-size: 30px !important;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
  
  }

  .navbar{
      padding: 0 !important;
      border-bottom: 2px solid #cccccc;

  }
  .navbar-collapse{
    padding-left: 15px;
  }
.navbar-brand{
    background-color: #4aaaa5;
    color: #ffffff !important;
    padding: 0;
    padding: 40px 40px;
    line-height: 70px !important;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 2em !important;
}



.page{
    background-color: #ffffff;
    margin: 30px 10px;
}
.page-content{
    padding: 0 30px 30px;
    color: #777777;
}

.pageHead{
    width: 100%;
    padding: 30px 0px;
    color: #4aaaa5;

  }
 /*-----------------  Contact -------------------*/ 

  button[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
 
 /*----------------- Portfolio-------------------*/ 
.cover{
    margin: 20px 0;
    overflow: hidden;
    padding: 0 !important;
}
.round {
  border-radius: 10px;
}

.img-lable{
    position: absolute;
    bottom: 10px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color:rgba(74,170,165, .8) ;
    color: #ffffff; 
}

footer {
    position: fixed !important;
    bottom: 0px !important;
    width: 100%;
    height: 90px;
    background-color: rgba(119,119,119, 1);
    border-top: 7px solid #4aaaa5;
    margin: 0 !important;
    padding: 0 !important;
  }
  footer p{
      color: #ffffff;
    line-height: 70px;
  }